@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --strong-color: #ff5600 !important;
  --text-color-danger: #b40202 !important;
  --text-color: #444444 !important;
  --text-hover-color: #1b8125 !important;
  --text-strong-color: #ff5600 !important;
  --text-color-muted: #818181 !important;
  --border-color: #e8e8e8 !important;
  --border-strong-color: #ff5600 !important;
  --background-color: #fbfbfb !important;
  --background-color-error: rgb(253, 206, 210) !important;
  --background-grey-color: #f8f8f8 !important;
  --background-primary-color: #ff5600 !important;
  --background-primary-color-hover: #ff7d3c !important;
  --background-warning-color: #ffc720 !important;
  --background-warning-color-hover: #ffde7a !important;
  --background-danger-color: #ca3040 !important;
  --background-danger-color-hover: #f04052 !important;
  --background-info-color: #0dcaf0 !important;
  --background-info-color-hover: #76e8ff !important;
  --background-success-color: #198754 !important;
  --background-success-boder-color: #198754 !important;
  --background-success-color-hover: #459c4e !important;
  --box-shadow-color: rgba(159, 80, 250, 0.25) !important;
  --btn-outline-border: #868686 !important;
  --input-border-color: #868686 !important;
  --background-google-login-color: #e00000 !important;
  --background-google-login-color-hover: #ff0000 !important;
  --bs-dropdown-item-padding-y: 0 !important;
  --bs-dropdown-item-padding-x: 0 !important;
  --bs-dropdown-padding-y: 0 !important;
  --bs-pagination-focus-bg: rgb(253, 206, 210) !important;
  --bs-table-hover-bg: rgba(241, 241, 241, 0.075) !important;
}

html {
  font-size: 62.5% !important;
}

body {
  font-family: 'Roboto Slab', serif !important;
  color: var(--text-color);
  background-color: #fff;
  font-size: 1.6rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
